In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
# Load the dataset
movie_df = pd.read_csv('Data_Sources/ml_movies.csv')
movie_df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [3]:
movies_data_df = movie_df.drop(['status', 'index', 'homepage', 'spoken_languages', 'overview', 'tagline', 'keywords', 'id', 'crew'], axis=1)
movies_data_df.head(3)

,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,cast,director
0,237000000,Action Adventure Fantasy Science Fiction,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,162.0,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,300000000,Adventure Fantasy Action,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,245000000,Action Adventure Crime,en,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,880674609,148.0,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes

In [4]:
movies_data_df = movies_data_df.drop(['original_title', 'production_companies', 'production_countries', 'release_date', 'title', 'vote_count'], axis=1)
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,Action Adventure Fantasy Science Fiction,en,150.437577,2787965087,162.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,300000000,Adventure Fantasy Action,en,139.082615,961000000,169.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,245000000,Action Adventure Crime,en,107.376788,880674609,148.0,6.3,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,250000000,Action Crime Drama Thriller,en,112.312950,1084939099,165.0,7.6,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,260000000,Action Adventure Science Fiction,en,43.926995,284139100,132.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4798,220000,Action Crime Thriller,es,14.269792,2040920,81.0,6.6,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez
4799,9000,Comedy Romance,en,0.642552,0,85.0,5.9,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,Edward Burns
4800,0,Comedy Drama Romance TV Movie,en,1.444476,0,120.0,7.0,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith
4801,0,NaN,en,0.857008,0,98.0,5.7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,Daniel Hsia
4802,0,Documentary,en,1.929883,0,90.0,6.3,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger

In [5]:
movies_data_df.isna().sum()

budget                0
genres               28
original_language     0
popularity            0
revenue               0
runtime               2
vote_average          0
cast                 43
director             36
dtype: int64

In [6]:
movies_data_df = movies_data_df.dropna(subset=['genres', 'runtime','cast', 'director', 'cast', 'director' ])
movies_data_df.isna().sum()

budget               0
genres               0
original_language    0
popularity           0
revenue              0
runtime              0
vote_average         0
cast                 0
director             0
dtype: int64

In [7]:
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,Action Adventure Fantasy Science Fiction,en,150.437577,2787965087,162.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,300000000,Adventure Fantasy Action,en,139.082615,961000000,169.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,245000000,Action Adventure Crime,en,107.376788,880674609,148.0,6.3,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,250000000,Action Crime Drama Thriller,en,112.312950,1084939099,165.0,7.6,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,260000000,Action Adventure Science Fiction,en,43.926995,284139100,132.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4796,7000,Science Fiction Drama Thriller,en,23.307949,424760,77.0,6.9,Shane Carruth David Sullivan Casey Gooden Anan...,Shane Carruth
4798,220000,Action Crime Thriller,es,14.269792,2040920,81.0,6.6,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez
4799,9000,Comedy Romance,en,0.642552,0,85.0,5.9,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,Edward Burns
4800,0,Comedy Drama Romance TV Movie,en,1.444476,0,120.0,7.0,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith
4802,0,Documentary,en,1.929883,0,90.0,6.3,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger

In [8]:
movies_data_df.dtypes

budget                 int64
genres                object
original_language     object
popularity           float64
revenue                int64
runtime              float64
vote_average         float64
cast                  object
director              object
dtype: object

In [9]:
movies_data_df.loc[:, 'runtime'] = movies_data_df['runtime'].astype(int)
movies_data_df.loc[:, 'genres'] = movies_data_df['genres'].astype(str)
movies_data_df.loc[:, 'original_language'] = movies_data_df['original_language'].astype(str)
movies_data_df.loc[:, 'cast'] = movies_data_df['cast'].astype(str)
movies_data_df.loc[:, 'director'] = movies_data_df['director'].astype(str)
movies_data_df.dtypes

C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\1927095445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'runtime'] = movies_data_df['runtime'].astype(int)
C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\1927095445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'genres'] = movies_data_df['genres'].astype(str)
C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\1927095445.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'original_language'] = movies_data_df['original_language'].astype(str)
C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\1927095445.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'cast'] = movies_data_df['cast'].astype(str)
C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\1927095445.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'director'] = movies_data_df['director'].astype(str)

budget                 int64
genres                object
original_language     object
popularity           float64
revenue                int64
runtime                int32
vote_average         float64
cast                  object
director              object
dtype: object

In [10]:
# Determine the number of unique values in each column.
movies_data_df.nunique()

budget                432
genres               1165
original_language      37
popularity           4731
revenue              3288
runtime               155
vote_average           69
cast                 4713
director             2319
dtype: int64

In [11]:
movies_data_df['cast'] = movies_data_df['cast'].apply(lambda x: ', '.join([f"{a} {b}" for a, b in zip(x.split()[::2], x.split()[1::2])]))
movies_data_df['cast']

C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\1167377708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['cast'] = movies_data_df['cast'].apply(lambda x: ', '.join([f"{a} {b}" for a, b in zip(x.split()[::2], x.split()[1::2])]))

0       Sam Worthington, Zoe Saldana, Sigourney Weaver...
1       Johnny Depp, Orlando Bloom, Keira Knightley, S...
2       Daniel Craig, Christoph Waltz, L\u00e9a Seydou...
3       Christian Bale, Michael Caine, Gary Oldman, An...
4       Taylor Kitsch, Lynn Collins, Samantha Morton, ...
                              ...
4796    Shane Carruth, David Sullivan, Casey Gooden, A...
4798    Carlos Gallardo, Jaime de, Hoyos Peter, Marqua...
4799    Edward Burns, Kerry Bish\u00e9, Marsha Dietlei...
4800    Eric Mabius, Kristin Booth, Crystal Lowe, Geof...
4802    Drew Barrymore, Brian Herzlinger, Corey Feldma...
Name: cast, Length: 4732, dtype: object

In [12]:
movies_data_df['genres'] = movies_data_df['genres'].str.replace(' ', ',')
movies_data_df['genres']

C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\4271959706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['genres'] = movies_data_df['genres'].str.replace(' ', ',')

0       Action,Adventure,Fantasy,Science,Fiction
1                       Adventure,Fantasy,Action
2                         Action,Adventure,Crime
3                    Action,Crime,Drama,Thriller
4               Action,Adventure,Science,Fiction
                          ...
4796              Science,Fiction,Drama,Thriller
4798                       Action,Crime,Thriller
4799                              Comedy,Romance
4800               Comedy,Drama,Romance,TV,Movie
4802                                 Documentary
Name: genres, Length: 4732, dtype: object

In [13]:
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,"Action,Adventure,Fantasy,Science,Fiction",en,150.437577,2787965087,162,7.2,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron
1,300000000,"Adventure,Fantasy,Action",en,139.082615,961000000,169,6.9,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",Gore Verbinski
2,245000000,"Action,Adventure,Crime",en,107.376788,880674609,148,6.3,"Daniel Craig, Christoph Waltz, L\u00e9a Seydou...",Sam Mendes
3,250000000,"Action,Crime,Drama,Thriller",en,112.312950,1084939099,165,7.6,"Christian Bale, Michael Caine, Gary Oldman, An...",Christopher Nolan
4,260000000,"Action,Adventure,Science,Fiction",en,43.926995,284139100,132,6.1,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4796,7000,"Science,Fiction,Drama,Thriller",en,23.307949,424760,77,6.9,"Shane Carruth, David Sullivan, Casey Gooden, A...",Shane Carruth
4798,220000,"Action,Crime,Thriller",es,14.269792,2040920,81,6.6,"Carlos Gallardo, Jaime de, Hoyos Peter, Marqua...",Robert Rodriguez
4799,9000,"Comedy,Romance",en,0.642552,0,85,5.9,"Edward Burns, Kerry Bish\u00e9, Marsha Dietlei...",Edward Burns
4800,0,"Comedy,Drama,Romance,TV,Movie",en,1.444476,0,120,7.0,"Eric Mabius, Kristin Booth, Crystal Lowe, Geof...",Scott Smith
4802,0,Documentary,en,1.929883,0,90,6.3,"Drew Barrymore, Brian Herzlinger, Corey Feldma...",Brian Herzlinger

In [14]:
# Split cast column and get first element
movies_data_df['cast'] = movies_data_df['cast'].str.split(',').str[0]

# Split genres column and get first element
movies_data_df['genres'] = movies_data_df['genres'].str.split(',').str[0]

movies_data_df

C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\4167340075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['cast'] = movies_data_df['cast'].str.split(',').str[0]
C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\4167340075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['genres'] = movies_data_df['genres'].str.split(',').str[0]

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,Action,en,150.437577,2787965087,162,7.2,Sam Worthington,James Cameron
1,300000000,Adventure,en,139.082615,961000000,169,6.9,Johnny Depp,Gore Verbinski
2,245000000,Action,en,107.376788,880674609,148,6.3,Daniel Craig,Sam Mendes
3,250000000,Action,en,112.312950,1084939099,165,7.6,Christian Bale,Christopher Nolan
4,260000000,Action,en,43.926995,284139100,132,6.1,Taylor Kitsch,Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,Shane Carruth,Shane Carruth
4798,220000,Action,es,14.269792,2040920,81,6.6,Carlos Gallardo,Robert Rodriguez
4799,9000,Comedy,en,0.642552,0,85,5.9,Edward Burns,Edward Burns
4800,0,Comedy,en,1.444476,0,120,7.0,Eric Mabius,Scott Smith
4802,0,Documentary,en,1.929883,0,90,6.3,Drew Barrymore,Brian Herzlinger

In [15]:
# Create a new column 'is_successful' with 1 for successful movies and 0 for unsuccessful movies
movies_data_df['Is_Successful'] = ((movies_data_df['revenue'] - movies_data_df['budget']) > 0) & (movies_data_df['vote_average'] >= 6.3)
movies_data_df['Is_Successful'] = movies_data_df['Is_Successful'].astype(int)
movies_data_df

C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\228352138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['Is_Successful'] = ((movies_data_df['revenue'] - movies_data_df['budget']) > 0) & (movies_data_df['vote_average'] >= 6.3)
C:\Users\amudd\AppData\Local\Temp\ipykernel_17704\228352138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['Is_Successful'] = movies_data_df['Is_Successful'].astype(int)

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director,Is_Successful
0,237000000,Action,en,150.437577,2787965087,162,7.2,Sam Worthington,James Cameron,1
1,300000000,Adventure,en,139.082615,961000000,169,6.9,Johnny Depp,Gore Verbinski,1
2,245000000,Action,en,107.376788,880674609,148,6.3,Daniel Craig,Sam Mendes,1
3,250000000,Action,en,112.312950,1084939099,165,7.6,Christian Bale,Christopher Nolan,1
4,260000000,Action,en,43.926995,284139100,132,6.1,Taylor Kitsch,Andrew Stanton,0
...,...,...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,Shane Carruth,Shane Carruth,1
4798,220000,Action,es,14.269792,2040920,81,6.6,Carlos Gallardo,Robert Rodriguez,1
4799,9000,Comedy,en,0.642552,0,85,5.9,Edward Burns,Edward Burns,0
4800,0,Comedy,en,1.444476,0,120,7.0,Eric Mabius,Scott Smith,0
4802,0,Documentary,en,1.929883,0,90,6.3,Drew Barrymore,Brian Herzlinger,0

In [16]:
movies_data_df.nunique()

budget                432
genres                 20
original_language      37
popularity           4731
revenue              3288
runtime               155
vote_average           69
cast                 2083
director             2319
Is_Successful           2
dtype: int64

In [17]:
num_successful = movies_data_df['Is_Successful'].value_counts()[1]
print(f"Number of successful movies: {num_successful}")

Number of successful movies: 1526

In [18]:
movies_data_df = movies_data_df.drop(['cast', 'director'], axis=1)
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,Is_Successful
0,237000000,Action,en,150.437577,2787965087,162,7.2,1
1,300000000,Adventure,en,139.082615,961000000,169,6.9,1
2,245000000,Action,en,107.376788,880674609,148,6.3,1
3,250000000,Action,en,112.312950,1084939099,165,7.6,1
4,260000000,Action,en,43.926995,284139100,132,6.1,0
...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,1
4798,220000,Action,es,14.269792,2040920,81,6.6,1
4799,9000,Comedy,en,0.642552,0,85,5.9,0
4800,0,Comedy,en,1.444476,0,120,7.0,0
4802,0,Documentary,en,1.929883,0,90,6.3,0

In [19]:
movies_data_df.isna().sum()

budget               0
genres               0
original_language    0
popularity           0
revenue              0
runtime              0
vote_average         0
Is_Successful        0
dtype: int64

In [20]:
selected_languages = ['en', 'es', 'fr']
selected_genres = ['Action', 'Romance', 'Thriller', 'Comedy', 'Drama']

# Filter out movies that are not in the selected languages
movies_data_df = movies_data_df[movies_data_df['original_language'].isin(selected_languages)]
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,Is_Successful
0,237000000,Action,en,150.437577,2787965087,162,7.2,1
1,300000000,Adventure,en,139.082615,961000000,169,6.9,1
2,245000000,Action,en,107.376788,880674609,148,6.3,1
3,250000000,Action,en,112.312950,1084939099,165,7.6,1
4,260000000,Action,en,43.926995,284139100,132,6.1,0
...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,1
4798,220000,Action,es,14.269792,2040920,81,6.6,1
4799,9000,Comedy,en,0.642552,0,85,5.9,0
4800,0,Comedy,en,1.444476,0,120,7.0,0
4802,0,Documentary,en,1.929883,0,90,6.3,0

In [21]:
movies_data_df['original_language'].nunique()

3

In [22]:
selected_genres = ['Action', 'Romance', 'Thriller', 'Comedy', 'Drama']
movies_data_df = movies_data_df[movies_data_df['genres'].apply(lambda x: any(item for item in selected_genres if item in x))]
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,Is_Successful
0,237000000,Action,en,150.437577,2787965087,162,7.2,1
2,245000000,Action,en,107.376788,880674609,148,6.3,1
3,250000000,Action,en,112.312950,1084939099,165,7.6,1
4,260000000,Action,en,43.926995,284139100,132,6.1,0
7,280000000,Action,en,134.279229,1405403694,141,7.3,1
...,...,...,...,...,...,...,...,...
4794,0,Thriller,en,0.166513,0,82,0.0,0
4795,0,Drama,en,0.918116,0,98,6.0,0
4798,220000,Action,es,14.269792,2040920,81,6.6,1
4799,9000,Comedy,en,0.642552,0,85,5.9,0
4800,0,Comedy,en,1.444476,0,120,7.0,0

In [23]:
movies_data_df['genres'].nunique()

5

In [24]:
movies_data_df_encoded = pd.get_dummies(movies_data_df, columns=['original_language'])
movies_data_df_encoded = pd.get_dummies(movies_data_df_encoded, columns=['genres'])

# Define the columns that don't need encoding
columns_to_keep = ['budget', 'popularity', 'runtime', 'vote_average', 'Is_Successful']

# Filter the encoded dataframe to only include the selected columns
movies_data_df_encoded_filtered = movies_data_df_encoded.filter(regex='|'.join(['original_language_', 'genres_']))

# Concatenate the filtered dataframe with the non-encoded columns
movies_data_df_final = pd.concat([movies_data_df[columns_to_keep], movies_data_df_encoded_filtered], axis=1)
movies_data_df_final

,budget,popularity,runtime,vote_average,Is_Successful,original_language_en,original_language_es,original_language_fr,genres_Action,genres_Comedy,genres_Drama,genres_Romance,genres_Thriller
0,237000000,150.437577,162,7.2,1,1,0,0,1,0,0,0,0
2,245000000,107.376788,148,6.3,1,1,0,0,1,0,0,0,0
3,250000000,112.312950,165,7.6,1,1,0,0,1,0,0,0,0
4,260000000,43.926995,132,6.1,0,1,0,0,1,0,0,0,0
7,280000000,134.279229,141,7.3,1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4794,0,0.166513,82,0.0,0,1,0,0,0,0,0,0,1
4795,0,0.918116,98,6.0,0,1,0,0,0,0,1,0,0
4798,220000,14.269792,81,6.6,1,0,1,0,1,0,0,0,0
4799,9000,0.642552,85,5.9,0,1,0,0,0,1,0,0,0
4800,0,1.444476,120,7.0,0,1,0,0,0,1,0,0,0

In [25]:
movies_data_df_encoded.isna().sum()

budget                  0
popularity              0
revenue                 0
runtime                 0
vote_average            0
Is_Successful           0
original_language_en    0
original_language_es    0
original_language_fr    0
genres_Action           0
genres_Comedy           0
genres_Drama            0
genres_Romance          0
genres_Thriller         0
dtype: int64

In [26]:
movies_data_df_encoded.nunique()

budget                   324
popularity              3153
revenue                 2168
runtime                  132
vote_average              65
Is_Successful              2
original_language_en       2
original_language_es       2
original_language_fr       2
genres_Action              2
genres_Comedy              2
genres_Drama               2
genres_Romance             2
genres_Thriller            2
dtype: int64

In [27]:
movies_data_df_encoded['Is_Successful'].value_counts()

0    2178
1     976
Name: Is_Successful, dtype: int64

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(movies_data_df_encoded.drop('Is_Successful', axis=1),movies_data_df_encoded['Is_Successful'], test_size=0.2, random_state=42)

# Create the logistic regression model
lr_model = LogisticRegression()

# Train the model on the training set
lr_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = lr_model.predict(X_test)

# Evaluate the model using classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.90      0.87       442
           1       0.71      0.59      0.64       189

    accuracy                           0.81       631
   macro avg       0.77      0.74      0.75       631
weighted avg       0.80      0.81      0.80       631

The classification report you provided indicates that the model has an overall accuracy of 81% for predicting the success of a movie. The precision of the model is 0.84 for unsuccessful movies and 0.71 for successful movies, meaning that when the model predicts a movie is unsuccessful, it is correct 84% of the time, and when it predicts a movie is successful, it is correct 71% of the time. The recall of the model is 0.9 for unsuccessful movies and 0.59 for successful movies, meaning that the model correctly identifies 90% of the unsuccessful movies, but only 59% of the successful movies. Finally, the f1-score is 0.87 for unsuccessful movies and 0.64 for successful movies.

The classification report after oversampling suggests that the model has improved its recall on the minority class (successful movies) at the expense of precision, which has decreased for that class. However, the overall accuracy has decreased compared to before oversampling.

In [29]:
print(lr_model.coef_)

[[-4.25777145e-08  1.39509659e-14  1.33890523e-08 -5.38658496e-13
  -2.78030692e-14 -5.87114063e-15 -8.19102231e-18 -1.44700606e-16
  -1.36908727e-15 -3.04980395e-15 -1.01360632e-15 -1.75156267e-16
  -4.16378447e-16]]

In [30]:
from joblib import dump

# Save the trained model to a file
dump(lr_model, 'movie_success_model.joblib')

['movie_success_model.joblib']

In [ ]:
# #### For the front end, you could create a form where the user can input the following features of the movie: ####

# Budget (numeric value)
# Original language (drop-down menu with available languages)
# Runtime (numeric value)
# Director (text field for the name of the director)
# Actor or actress (text field for the name of the actor or actress)
# Genre (drop-down menu with available genres)
# After the user submits the form, your ML model will take these inputs and predict whether the movie will be successful or not.

## Testing the Model ##

In [32]:
import joblib

# Load the saved model from file
model = joblib.load('movie_success_model.joblib')

# Create an example input dataframe
# Create an example input dataframe
input_data = pd.DataFrame({
  "budget": 150000000,
  "genres_Action": 1,
  "genres_Comedy": 0,
  "genres_Drama": 0,
  "genres_Romance": 1,
  "genres_Thriller": 1,
  "original_language_en": 1,
  "original_language_es": 0,
  "original_language_fr": 0,
  "popularity": 120.5,
  "revenue": 350000000,
  "runtime": 135,
  "vote_average": 7.5
}, index=[0])

# Use the model to make predictions on the input data
predictions = model.predict(input_data)

# Print the predictions
print(predictions)

[0]

C:\Users\amudd\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [34]:
import joblib

# Load the saved model from file
model = joblib.load('movie_success_model.joblib')

# Create an example input dataframe
# Create an example input dataframe
input_data = pd.DataFrame({
  "budget": 50000000,
  "genres_Action": 0,
  "genres_Comedy": 1,
  "genres_Drama": 1,
  "genres_Romance": 0,
  "genres_Thriller": 0,
  "original_language_en": 1,
  "original_language_es": 0,
  "original_language_fr": 0,
  "popularity": 30.5,
  "revenue": 75000000,
  "runtime": 95,
  "vote_average": 6.2
}, index=[0])

# Use the model to make predictions on the input data
predictions = model.predict(input_data)

# Print the predictions
print(predictions)

[0]

C:\Users\amudd\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [36]:
# Load the saved model from file
model = joblib.load('movie_success_model.joblib')

# Create an example input dataframe
# Create an example input dataframe
input_data = pd.DataFrame({
  "budget": 250000000,
  "genres_Action": 1,
  "genres_Comedy": 0,
  "genres_Drama": 0,
  "genres_Romance": 0,
  "genres_Thriller": 0,
  "original_language_en": 1,
  "original_language_es": 0,
  "original_language_fr": 0,
  "popularity": 250.0,
  "revenue": 800000000,
  "runtime": 160,
  "vote_average": 7.8
}, index=[0])

# Use the model to make predictions on the input data
predictions = model.predict(input_data)

# Print the predictions
print(predictions)

[0]

C:\Users\amudd\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)