In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [2]:
movies_data_df = pd.read_csv('Data_Sources/good_movies.csv')
movies_data_df.head()

C:\Users\amudd\AppData\Local\Temp\ipykernel_8696\3283336974.py:1: DtypeWarning: Columns (0,1,4,9,13,14,19,20,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_data_df = pd.read_csv('Data_Sources/good_movies.csv')

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,Unnamed: 1255,Unnamed: 1256,Unnamed: 1257,Unnamed: 1258,Unnamed: 1259,Unnamed: 1260,Unnamed: 1261,Unnamed: 1262,Unnamed: 1263,Unnamed: 1264
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
movies_data_df = movies_data_df.iloc[:, :24]
movies_data_df

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31295,...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,4798,220000,Action Crime Thriller,NaN,9367,united states\u2013mexico barrier legs arms pa...,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,81,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,"[{'name': 'Robert Rodriguez', 'gender': 0, 'de...",Robert Rodriguez
4805,4799,9000,Comedy Romance,NaN,72766,NaN,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,85,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,"[{'name': 'Edward Burns', 'gender': 2, 'depart...",Edward Burns
4806,4800,0,Comedy Drama Romance TV Movie,http://www.hallmarkchannel.com/signedsealeddel...,231617,date love at first sight narration investigati...,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,120,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,"[{'name': 'Carla Hetland', 'gender': 0, 'depar...",Scott Smith
4807,4801,0,NaN,http://shanghaicalling.com/,126186,NaN,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,98,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,"[{'name': 'Daniel Hsia', 'gender': 2, 'departm...",Daniel Hsia
4808,4802,0,Documentary,NaN,25975,obsession camcorder crush dream girl,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,90,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,"[{'name': 'Clark Peterson', 'gender': 2, 'depa...",Brian Herzlinger

In [4]:
movies_data_df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [5]:
movies_data_df.isna().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  845
title                      1
vote_average               1
vote_count                 1
cast                      44
crew                       1
director                  37
dtype: int64

In [6]:
movies_data_df['budget'] = pd.to_numeric(movies_data_df['budget'], errors='coerce')
movies_data_df['revenue'] = pd.to_numeric(movies_data_df['revenue'], errors='coerce')

In [7]:
movies_data_df.isna().sum()

index                      0
budget                     6
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    6
runtime                    2
spoken_languages           0
status                     0
tagline                  845
title                      1
vote_average               1
vote_count                 1
cast                      44
crew                       1
director                  37
dtype: int64

In [8]:
movies_data_df['production_countries']

0       [{"iso_3166_1": "US", "name": "United States o...
1       [{"iso_3166_1": "US", "name": "United States o...
2       [{"iso_3166_1": "GB", "name": "United Kingdom"...
3       [{"iso_3166_1": "US", "name": "United States o...
4       [{"iso_3166_1": "US", "name": "United States o...
                              ...
4804    [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...
4805                                                   []
4806    [{"iso_3166_1": "US", "name": "United States o...
4807    [{"iso_3166_1": "US", "name": "United States o...
4808    [{"iso_3166_1": "US", "name": "United States o...
Name: production_countries, Length: 4809, dtype: object

In [9]:
# Define a function to extract the country name from the production_countries column
def extract_country_name(row):
    try:
        countries = json.loads(row)
        if len(countries) > 0:
            country_name = countries[0]['name']
            return country_name
    except:
        pass
    return None

# Apply the function to the production_countries column
movies_data_df['production_countries'] = movies_data_df['production_countries'].apply(extract_country_name)
movies_data_df['production_countries']

0       United States of America
1       United States of America
2                 United Kingdom
3       United States of America
4       United States of America
                  ...
4804                      Mexico
4805                        None
4806    United States of America
4807    United States of America
4808    United States of America
Name: production_countries, Length: 4809, dtype: object

In [10]:
movies_data_df.isna().sum()

index                      0
budget                     6
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries     180
release_date               1
revenue                    6
runtime                    2
spoken_languages           0
status                     0
tagline                  845
title                      1
vote_average               1
vote_count                 1
cast                      44
crew                       1
director                  37
dtype: int64

In [11]:
movies_data_df.head(2)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000.0,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000.0,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski

In [12]:
movies_data_df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [13]:
movies_data_df = movies_data_df.drop(['status', 'index', 'homepage', 'spoken_languages', 'overview', 'tagline', 'keywords', 'id', 'crew'], axis=1)

# fill NaN values with commas for text-based columns
text_columns = ['genres','production_companies', 'production_countries','cast','director']
movies_data_df[text_columns] = movies_data_df[text_columns].fillna(',')

In [14]:
movies_data_df.columns

Index(['budget', 'genres', 'original_language', 'original_title', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'title', 'vote_average', 'vote_count', 'cast',
       'director'],
      dtype='object')

In [15]:
movies_data_df.isna().sum()

budget                  6
genres                  0
original_language       0
original_title          0
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 6
runtime                 2
title                   1
vote_average            1
vote_count              1
cast                    0
director                0
dtype: int64

In [16]:
movies_data_df = movies_data_df.dropna(subset=['budget', 'runtime', 'title', 'vote_average', 'vote_count', 'revenue', 'release_date'])
movies_data_df.isna().sum()

budget                  0
genres                  0
original_language       0
original_title          0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
title                   0
vote_average            0
vote_count              0
cast                    0
director                0
dtype: int64

In [17]:
avatar_cast = movies_data_df.loc[movies_data_df['title'] == 'Avatar', 'cast'].values[0]
print(avatar_cast)

Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez

In [18]:
cast_string = 'Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez'
cast_list = cast_string.split()
new_cast_list = []

for i, name in enumerate(cast_list):
    if i % 2 == 0:
        new_cast_list.append(name)
    else:
        new_cast_list[-1] += ' ' + name

result = ', '.join(new_cast_list)
print(result)

Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang, Michelle Rodriguez

In [19]:
movies_data_df['cast'] = movies_data_df['cast'].apply(lambda x: ', '.join([f"{a} {b}" for a, b in zip(x.split()[::2], x.split()[1::2])]))
movies_data_df['cast']

0       Sam Worthington, Zoe Saldana, Sigourney Weaver...
1       Johnny Depp, Orlando Bloom, Keira Knightley, S...
2       Daniel Craig, Christoph Waltz, L\u00e9a Seydou...
3       Christian Bale, Michael Caine, Gary Oldman, An...
4       Taylor Kitsch, Lynn Collins, Samantha Morton, ...
                              ...
4804    Carlos Gallardo, Jaime de, Hoyos Peter, Marqua...
4805    Edward Burns, Kerry Bish\u00e9, Marsha Dietlei...
4806    Eric Mabius, Kristin Booth, Crystal Lowe, Geof...
4807    Daniel Henney, Eliza Coupe, Bill Paxton, Alan ...
4808    Drew Barrymore, Brian Herzlinger, Corey Feldma...
Name: cast, Length: 4800, dtype: object

In [20]:
movies_data_df['production_companies']

0       [{"name": "Ingenious Film Partners", "id": 289...
1       [{"name": "Walt Disney Pictures", "id": 2}, {"...
2       [{"name": "Columbia Pictures", "id": 5}, {"nam...
3       [{"name": "Legendary Pictures", "id": 923}, {"...
4             [{"name": "Walt Disney Pictures", "id": 2}]
                              ...
4804             [{"name": "Columbia Pictures", "id": 5}]
4805                                                   []
4806    [{"name": "Front Street Pictures", "id": 3958}...
4807                                                   []
4808    [{"name": "rusty bear entertainment", "id": 87...
Name: production_companies, Length: 4800, dtype: object

In [21]:
#extracting production company from column
production_company = '[{"name": "Walt Disney Pictures", "id": 2}]'
parsed_production_company = json.loads(production_company)
company_name = parsed_production_company[0]['name']
print(company_name)

Walt Disney Pictures

In [22]:
# Define a function to extract company names
def extract_company_names(x):
    try:
        companies = json.loads(x)
        return [company['name'] for company in companies]
    except (json.JSONDecodeError, TypeError):
        return []

# Apply the function to the production_companies column
movies_data_df['production_companies'] = movies_data_df['production_companies'].apply(extract_company_names)
movies_data_df['production_companies']

0       [Ingenious Film Partners, Twentieth Century Fo...
1       [Walt Disney Pictures, Jerry Bruckheimer Films...
2                        [Columbia Pictures, Danjaq, B24]
3       [Legendary Pictures, Warner Bros., DC Entertai...
4                                  [Walt Disney Pictures]
                              ...
4804                                  [Columbia Pictures]
4805                                                   []
4806    [Front Street Pictures, Muse Entertainment Ent...
4807                                                   []
4808         [rusty bear entertainment, lucky crow films]
Name: production_companies, Length: 4800, dtype: object

In [23]:
movies_data_df['production_companies'] = movies_data_df['production_companies'].apply(lambda x: x[0] if x else None)
movies_data_df['production_companies']

0        Ingenious Film Partners
1           Walt Disney Pictures
2              Columbia Pictures
3             Legendary Pictures
4           Walt Disney Pictures
                  ...
4804           Columbia Pictures
4805                        None
4806       Front Street Pictures
4807                        None
4808    rusty bear entertainment
Name: production_companies, Length: 4800, dtype: object

In [24]:
movies_data_df.head(3)

,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,cast,director
0,237000000.0,Action Adventure Fantasy Science Fiction,en,Avatar,150.437577,Ingenious Film Partners,United States of America,12/10/2009,2.787965e+09,162,Avatar,7.2,11800,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron
1,300000000.0,Adventure Fantasy Action,en,Pirates of the Caribbean: At World's End,139.082615,Walt Disney Pictures,United States of America,5/19/2007,9.610000e+08,169,Pirates of the Caribbean: At World's End,6.9,4500,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",Gore Verbinski
2,245000000.0,Action Adventure Crime,en,Spectre,107.376788,Columbia Pictures,United Kingdom,10/26/2015,8.806746e+08,148,Spectre,6.3,4466,"Daniel Craig, Christoph Waltz, L\u00e9a Seydou...",Sam Mendes

In [25]:
movies_data_df['genres'] = movies_data_df['genres'].str.replace(' ', ',')
movies_data_df.head(2)

,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,cast,director
0,237000000.0,"Action,Adventure,Fantasy,Science,Fiction",en,Avatar,150.437577,Ingenious Film Partners,United States of America,12/10/2009,2.787965e+09,162,Avatar,7.2,11800,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron
1,300000000.0,"Adventure,Fantasy,Action",en,Pirates of the Caribbean: At World's End,139.082615,Walt Disney Pictures,United States of America,5/19/2007,9.610000e+08,169,Pirates of the Caribbean: At World's End,6.9,4500,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",Gore Verbinski

In [26]:
movies_data_df['budget'] = movies_data_df['budget'].astype(int)
movies_data_df['revenue'] = movies_data_df['revenue'].astype('int64')
movies_data_df['runtime'] = movies_data_df['runtime'].astype(int)
movies_data_df['popularity'] = movies_data_df['popularity'].astype(float)
movies_data_df['vote_average'] = movies_data_df['vote_average'].astype(float)
movies_data_df['vote_count'] = movies_data_df['vote_count'].astype(int)

In [27]:
for col in movies_data_df.select_dtypes(include=['object']):
    movies_data_df[col] = movies_data_df[col].astype(str)

In [28]:
movies_data_df.columns

Index(['budget', 'genres', 'original_language', 'original_title', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'title', 'vote_average', 'vote_count', 'cast',
       'director'],
      dtype='object')

In [29]:
movies_data_df['release_date'] = pd.to_datetime(movies_data_df['release_date'])
movies_data_df.dtypes

budget                           int32
genres                          object
original_language               object
original_title                  object
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                          int64
runtime                          int32
title                           object
vote_average                   float64
vote_count                       int32
cast                            object
director                        object
dtype: object

In [30]:
movies_data_df.head(2)

,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,cast,director
0,237000000,"Action,Adventure,Fantasy,Science,Fiction",en,Avatar,150.437577,Ingenious Film Partners,United States of America,2009-12-10,2787965087,162,Avatar,7.2,11800,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron
1,300000000,"Adventure,Fantasy,Action",en,Pirates of the Caribbean: At World's End,139.082615,Walt Disney Pictures,United States of America,2007-05-19,961000000,169,Pirates of the Caribbean: At World's End,6.9,4500,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",Gore Verbinski

In [31]:
movies_data_df = movies_data_df.drop(['original_title', 'title'], axis=1)
movies_data_df.head(2)

,budget,genres,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,vote_average,vote_count,cast,director
0,237000000,"Action,Adventure,Fantasy,Science,Fiction",en,150.437577,Ingenious Film Partners,United States of America,2009-12-10,2787965087,162,7.2,11800,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron
1,300000000,"Adventure,Fantasy,Action",en,139.082615,Walt Disney Pictures,United States of America,2007-05-19,961000000,169,6.9,4500,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",Gore Verbinski

In [32]:
movies_data_df['production_countries']

0       United States of America
1       United States of America
2                 United Kingdom
3       United States of America
4       United States of America
                  ...
4804                      Mexico
4805                           ,
4806    United States of America
4807    United States of America
4808    United States of America
Name: production_countries, Length: 4800, dtype: object

In [ ]:
# # Split genres and cast columns into separate columns
# genres_df = movies_data_df['genres'].str.get_dummies(sep=',')
# cast_df = movies_data_df['cast'].str.get_dummies(sep=',')

# # Concatenate the new columns with the original dataframe
# movies_data_df = pd.concat([movies_data_df, genres_df, cast_df], axis=1)

# # Drop the original 'genres' and 'cast' columns
# movies_data_df = movies_data_df.drop(['genres', 'cast'], axis=1)
# movies_data_df.head(2)

In [ ]:
# movies_data_df.to_csv('Data_Sources/movies_data.csv', index=False)

In [33]:
movies_data_df.columns

Index(['budget', 'genres', 'original_language', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'vote_average', 'vote_count', 'cast', 'director'],
      dtype='object')

### Predicting vote average of movies (Random Forest Regressor) ###

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Get dummies for genres and cast columns
genres_df = movies_data_df['genres'].str.get_dummies(sep=',')
cast_df = movies_data_df['cast'].str.get_dummies(sep=',')

# Get dummies for other categorical columns
lang_df = pd.get_dummies(movies_data_df['original_language'], prefix='lang')
comp_df = pd.get_dummies(movies_data_df['production_companies'], prefix='company')
country_df = pd.get_dummies(movies_data_df['production_countries'], prefix='country')
director_df = pd.get_dummies(movies_data_df['director'], prefix='director')

# Concatenate the dummy variables with the original dataframe
mlmovies_data_df = pd.concat([movies_data_df, genres_df, cast_df, lang_df, comp_df, country_df, director_df], axis=1)

# Select relevant columns including the dummy variables
relevant_cols = ['budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count']
relevant_cols.extend(list(genres_df.columns))
relevant_cols.extend(list(cast_df.columns))
relevant_cols.extend(list(lang_df.columns))
relevant_cols.extend(list(comp_df.columns))
relevant_cols.extend(list(country_df.columns))
relevant_cols.extend(list(director_df.columns))

# Create a new dataframe with the relevant columns
ml_df = mlmovies_data_df[relevant_cols]

# Split the data into training and testing sets
X = ml_df.drop('vote_average', axis=1)
y = ml_df['vote_average']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Regressor model
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Random Forest Regressor - Mean squared error: ", mse)
print("Random Forest Regressor - R-squared: ", r2)

Random Forest Regressor - Mean squared error:  0.4825000927083333
Random Forest Regressor - R-squared:  0.6100950241152558

The mean squared error of the model is 0.4808 and the R-squared score is 0.6115. This means that the model explains approximately 61.15% of the variance in the target variable (vote_average), and the mean squared error is 0.4808, indicating that on average, the model's predictions are off by approximately 0.69 points. These scores suggest that the model has moderate predictive power, but there is still room for improvement.

In [35]:
ml_df.head()

,budget,popularity,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,Comedy,...,director_Zackary Adler,director_Zak Penn,director_Zal Batmanglij,director_Zhang Yimou,director_Zoran Lisinac,director_\u00c0lex Pastor,director_\u00c1lex de la Iglesia,director_\u00c9mile Gaudreault,director_\u00c9ric Tessier,director_\u00c9tienne Faure
0,237000000,150.437577,2787965087,162,7.2,11800,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,300000000,139.082615,961000000,169,6.9,4500,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,245000000,107.376788,880674609,148,6.3,4466,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,250000000,112.312950,1084939099,165,7.6,9106,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,260000000,43.926995,284139100,132,6.1,2124,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:

# Keep only the relevant features
features = ['budget', 'popularity', 'revenue', 'runtime', 'vote_count', 'vote_average']
df = ml_df[features]

# Split the data into training and testing sets
X = df.drop('vote_average', axis=1)
y = df['vote_average']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Random Forest Regressor - Mean squared error: ", mse)
print("Random Forest Regressor - R-squared: ", r2)

# Save the trained model to a file
joblib.dump(rf, 'random_forest_regressor2.h5')

Random Forest Regressor - Mean squared error:  0.6577408510416667
Random Forest Regressor - R-squared:  0.46848418365208977

['random_forest_regressor2.h5']

In [43]:
# Load the trained model from the file
rf = joblib.load('random_forest_regressor.h5')

# Get input from the user
budget = float(input("Enter the budget(in 8 or 9 figure): "))
popularity = float(input("Enter the popularity(float): "))
revenue = float(input("Enter the revenue(<60000000): "))
runtime = int(input("Enter the runtime(in minutes): "))
vote_count = int(input("Enter the vote count(<1000): "))

# Make a prediction using the trained model
input_data = [[budget, popularity, revenue, runtime, vote_count]]
prediction = rf.predict(input_data)

# Print the predicted rating
print("Predicted movie rating:", prediction[0])

Enter the budget(in 8 or 9 figure):  100000000
Enter the popularity(float):  112.312950
Enter the revenue(<60000000):  880674609
Enter the runtime(in minutes):  123
Enter the vote count(<1000):  1001

C:\Users\amudd\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

ValueError: X has 5 features, but RandomForestRegressor is expecting 16350 features as input.

In [36]:
from joblib import dump

# Save the rf model to an h5 file using joblib
dump(rf, 'random_forest_regressor.h5')

['random_forest_regressor.h5']

In [40]:
import joblib

# Load the rf model from the h5 file
rf = joblib.load('random_forest_regressor.h5')

# Get input from the user
director = input("Enter the name of the director: ")
cast = input("Enter the names of the actors, separated by commas: ")
genre = input("Enter the name of the genre: ")

# Create a list of zeros with the same length as the training data columns
input_list = [0] * len(X_train.columns)

# Update the appropriate indices in the list with 1s based on the user's input
if director in X_train.columns:
    input_list[X_train.columns.get_loc(director)] = 1
for actor in cast.split(","):
    if actor in X_train.columns:
        input_list[X_train.columns.get_loc(actor)] = 1
    if genre in X_train.columns:
        input_list[X_train.columns.get_loc(genre)] = 1

# Create a DataFrame from the input list
input_df = pd.DataFrame([input_list], columns=X_train.columns)

# Make a prediction using the trained model
prediction = rf.predict(input_df)

# Print the predicted rating
print("Predicted movie rating:", prediction[0])

Enter the name of the director:  director_Christoper Nolan
Enter the names of the actors, separated by commas:  actor_Sam Worthington
Enter the name of the genre:  Action

Predicted movie rating: 0.0

In [41]:
input_df

,budget,popularity,revenue,runtime,vote_count,Action,Adventure,Animation,Comedy,Crime,...,director_Zackary Adler,director_Zak Penn,director_Zal Batmanglij,director_Zhang Yimou,director_Zoran Lisinac,director_\u00c0lex Pastor,director_\u00c1lex de la Iglesia,director_\u00c9mile Gaudreault,director_\u00c9ric Tessier,director_\u00c9tienne Faure
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0